.buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons a {
    background-color: lightblue;
    width: 20rem;
    height: 4rem;
    margin: 1rem;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color:black
}

.buttons a:hover {
    background-color: #9999ff;
}